@font-face {
  font-family: OcodoMono;
  src: url("./fonts/OcodoMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OcodoMonoDotZero;
  src: url("./fonts/OcodoMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
